<!doctype html>
<html>

  <head>
    <title>Coffee Talk</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Quicksand" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    </div>
    <div class="menuContainer">
      <div class="jumbotron text-center">
        <a href="/profile" class="btn btn-default btn-sm">
          back > </a>

        <img src="img/coffee-menu.jpeg" class="menu" alt="">
      </div>






    </div>

    </div>
  </body>

</html>